
*.class
2nd Sem MCA/ada/gnuplot 5.4 patchlevel 1.lnk
*.exe
/2nd Sem MCA/java/lab8/nbConn/nbproject/private/
/2nd Sem MCA/java/lab8/nbConn/build/
/2nd Sem MCA/java/lab8/nbConn/dist/
/2nd Sem MCA/java/lab8/facto/nbproject/private/
/2nd Sem MCA/java/lab8/fact/nbproject/private/
/2nd Sem MCA/java/lab8/check/nbproject/private/
/2nd Sem MCA/java/lab8/cns/nbproject/private/
/2nd Sem MCA/java/lab8/WebApplication1/nbproject/private/
