
*.class
2nd Sem MCA/ada/gnuplot 5.4 patchlevel 1.lnk
*.exe
/2nd Sem MCA/java/lab8/nbConn/nbproject/private/
/2nd Sem MCA/java/lab8/nbConn/build/
/2nd Sem MCA/java/lab8/nbConn/dist/
/2nd Sem MCA/java/WebApplication1/nbproject/private/
/2nd Sem MCA/java/WebApplication1/build/
/2nd Sem MCA/java/WebApplication1/dist/
